.title {
  font-size: 25;
  font-weight: bold;
}
.subTile {
  font-size: 15px;
}
.price {
  font-size: 22px;
  font-weight: bold;
}
.subPrice {
  font-size: 15px;
  font-weight: bold;
}
.titleExtra {
  font-size: 19px;
  font-weight: bold;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.root {
  margin: 10px;
}

.oldPrice {
  text-decoration: line-through;
  color: red;
  font-size: 17px;
}

.newPrice {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
