<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="root">
    <img class="image" [src]="product.imageUrl" />
    <ion-card-header>
      <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
      <ion-card-title class="title">{{ product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ product.longDescription }}
    </ion-card-content>
    <ion-card-content>
      <ion-label class="titleExtra">Extra Details:</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="subTile">Quantity:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subTile">{{ product.quantity }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subTile">Color: </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subTile">Color: {{product.color}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subTile">Material:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subTile"
              >Material: {{product.material}}</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content>
      <ion-label class="titleExtra">Price:</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="subPrice">Price ex VATS:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label
              class="subPrice"
              [class.oldPrice]="product.dealPrice !== undefined"
            >
              € {{( calculatePrice(product.price))| number : '1.2-2'
              }}</ion-label
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subPrice">VATS: 21%</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subPrice"
              >€ {{priceVats| number : '1.2-2' }}</ion-label
            >
          </ion-col>
        </ion-row>
        <ion-row *ngIf="product.dealPrice !== undefined">
          <ion-col>
            <ion-label class="subPrice">Old price (inc VATS)</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subPrice"
              >€ {{product.price| number : '1.2-2' }}</ion-label
            >
          </ion-col>
        </ion-row>
        <ion-row *ngIf="product.dealPrice !== undefined">
          <ion-col>
            <ion-label class="subPrice">Product Discount</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="subPrice"
              >€ {{discount| number : '1.2-2' }}</ion-label
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="price">Price inc VATS: </ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="price"
              >€ {{(product.dealPrice!==undefined ? product.dealPrice :
              product.price)| number : '1.2-2' }}</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
