<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabMain">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Main</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabDeals">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
